/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 5rem; */
    padding: 1rem 3rem;
    background-color: #212121;
    color: rgb(253, 253, 253);
}

main {
    margin-top: 85px;
}

/* Site text logo */
.techstore-logo a {
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    color: rgb(253, 253, 253);
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Shopping cart icon on right side of header */
.shopping-cart-icon {
    font-size: 2.5rem;
    color: rgb(253, 253, 253);
}

.cart-number-container {
    position: relative;  
}
    
.cart-number-container div {
    position: absolute;
    background-color: rgb(235, 166, 38);
    top: -6px;
    right: -10px;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* User icon on right side of header */
.user-icon {
    font-size: 2.5rem;
}

.login-and-reg-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    padding: 0 2rem;
}

.login-and-reg {
    line-height: 23px;
}

.header-reg:hover {
    cursor: pointer;
    color: rgba(235, 166, 38);
}

.header-login {
    font-weight: bold;
}

.header-login:hover {
    cursor: pointer;
    color: rgba(235, 166, 38);
}


/* JS ELEMENTS */
.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}
.productContainer:nth-child(even) {
    background-color: #f5f5f5;
}
.productTitle {
    font-size: 3.5rem;
    font-weight: bold;
}
.productDescription {
    margin: 25px 0;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.productImage {
    height: 500px;
}
.productPrice {
    letter-spacing: -0.5px;
}
.productAddToCartBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    width: 320px;
    padding: 1rem 1.75rem;
    border-style: none;
    background-color: #5497f4;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px 0;
}
.productAddToCartBtn:hover {
    background-color: #0f5dc9;
    cursor: pointer;
}
.productAddToCartIcon {
    font-size: 1.50rem;
}
.productAddToCartText {
    font-size: 1.75rem;
}


/* SHOPPING CART PAGE */

.cart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-headline-container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 23rem;
    margin: 5rem 0;
}
#headline-cart-icon {
    font-size: 2.7rem;
}
.cart-headline-container h1 {
    font-size: 3.5rem;
}


.cart-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 9rem;
    padding: 10rem;
    background-color: rgb(238, 238, 238);
    border: 2px solid rgba(155, 155, 155, 0.5);
    border-radius: 3px;
}


.cartContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cartProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    border: solid 2px rgb(106, 106, 206);
    border-radius: 10px;
}
.cartProductImage {
    height: 200px;
}
.cartProductTitle {
    font-size: 2.7rem;
}
.cartProductPrice {
    font-size: 1rem;
}
.cartProductRemoveFromCartBtn {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.5rem;
    padding: 0.6rem 1.2rem;
    margin-top: 1rem;
    color: white;
    background-color: rgb(214, 75, 75);
    border-style: none;
    border-radius: 7px;
}
.cartProductRemoveFromCartBtn:hover {
    background-color: rgb(173, 58, 58);
    cursor: pointer;
}
.cartProductRemoveFromCartIcon {
    font-size: 1rem;

}
.cartProductRemoveFromCartText {
    font-size: 19px;
}


.cartTotalPrice {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 3rem 0;
}


.cartCompletePurchaseBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    width: 200px;
    padding: 1rem 1.75rem;
    border-style: none;
    background-color: #5497f4;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    /* margin: 2rem 0; */
}
.cartCompletePurchaseBtn:hover {
    background-color: #0f5dc9;
    cursor: pointer;
}
.cartCompletePurchaseIcon {
    font-size: 1.5rem;
}
.cartCompletePurchaseText {
    font-size: 25px;
}