* {
    margin: 0%;
    padding: 0%;
}

body {

    display: flex;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3, 5rem;
    position: fixed;

    background-color: black;
    color: white;

}

#logo {
    margin-left: 1rem;
}

.material-symbolhead-shopingCards-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.head-shopingCard {
    justify-content: center;
    align-items: center;
}